body{

    background-color: lightblue;
    float: center;
}

h1
{
   
    width: 100%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: black;
}
