body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  background-color: black;
  color: white;
  margin-bottom: 5%;
  background-image: url(graphics/background3.jpg);
  
  
}


p {
  font-size: 15px;
  text-align: left;
}

.margin {
  margin-bottom: 45px;
}


.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 4px;
}


#myNavbar {
  margin-top: 0;

}

#box1 {
  margin: 10%;
}